@import "tailwindcss";

:root {
  /* Tube Dark Theme */
  --background: #0F0F0F;
  --foreground: #FFFFFF;
  --color-tube-red: #FF0000;
  --color-card-bg: #1E1E1E;
  --color-hover-bg: #3F3F3F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tube-red: var(--color-tube-red);
  --color-card-bg: var(--color-card-bg);
  --color-hover-bg: var(--color-hover-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
